<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.knight.myapplication">
    
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>





        <activity android:name=".categories.EducationActivity"/>
        <activity android:name=".categories.AboutActivity"/>
        <activity android:name=".categories.ApparelsActivity"/>
        <activity android:name=".categories.CartActivity"/>
        <activity android:name=".categories.ElectronicsActivity"/>
        <activity android:name=".categories.FavouritesActivity"/>
        <activity android:name=".categories.HelpCenterActivity"/>
        <activity android:name=".categories.MyAccountActivity"/>
        <activity android:name=".categories.NotificationsActivity"/>
        <activity android:name=".categories.OffersActivity"/>
        <activity android:name=".categories.RestaurantsActivity"/>
        <activity android:name=".categories.LocationGrabActivity"/>
        <activity android:name=".MallPheonixActivity"/>
        <activity android:name=".MallUBActivity"/>
    </application>

</manifest>